<div class="container-fluid bg-dark text-left text-md-start navbar-static-bottom mt-5">
    <!-- Grid -->
    <footer class="row p-5">
        <!-- Grid Items -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
            <h5 class="text-uppercase fw-bold">
                Build Guild</h5>
            <p>Our community of custom pc builders is ever expanding, create an account today to pe a part of a kicka**
                community.</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
            <h5 class="text-uppercase fw-bold">
                Build Guild</h5>
            <p>Our community of custom pc builders is ever expanding, create an account today to pe a part of a kicka**
                community.</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
            <h5 class="text-uppercase fw-bold">
                Menu</h5>
            <ul class="list-group">
                <li><a class="list-item" href="/">Build Guild</a></li>
                <li><a class="list-item" href="/pages">Builds</a></li>
                <li><a class="list-item" href="/pages/new">New</a></li>
            </ul>
        </div>
        <p class="text-center mt-5">Copyright &copy; 2021 Build Guild</p>
    </footer>
</div>