<div class="container-fluid bg-dark text-left text-md-start mt-5">
    <!-- Grid -->
    <footer class="row p-5">
        <!-- Grid Items -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
            <h5 class="text-uppercase fw-bold">
                Build <span class="logo-color">Guild</h5>
            <p>Our community of custom pc builders is ever expanding, create an account today to pe a part of a kicka**
                community.</p>
                <p>Email support: <span class="text-muted">support@buildguild.online</span></p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
            <h5 class="text-uppercase fw-bold">
                Useful links</h5>
            <ul class="list-group">
                <li><a class="list-item" href="/">Community</a></li>
                <li><a class="list-item" href="/">Support</a></li>
                <li><a class="list-item" href="/">Terms of Use</a></li>
                <li><a class="list-item" href="/">Privacy & Security</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
            <h5 class="text-uppercase fw-bold">
                Menu</h5>
            <ul class="list-group">
                <li><a class="list-item" href="/">Build Guild</a></li>
                <li><a class="list-item" href="/pages">Builds</a></li>
                <li><a class="list-item" href="/pages/new">New</a></li>
            </ul>
        </div>
    </footer>
    <div class="copy text-center pb-5">
        <p class="mt-5">Copyright &copy; 2021 Build Guild | Built by <a href="https://www.juanmoreno.dev/" target="_blank">Juan Moreno</a> | <a href="https://github.com/JuanMore/Build-Guild" target="_blank">Repo</a></p>
    </div>
</div>