<% layout('layouts/boilerplate') %>
<section class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>Welcome to Build Guild</h5>
                <p>Here, you can view recent custom PC builds from the community. Where awesome and
                    talented custom pc builders can post their latest builds, discuss their projects and best of all,
                    show off!</p>
                <p><a href="#posts" class="btn btn-primary btn-large">Check them out below</a></p>
            </div>
        </div>
    </div>
</section>