<% layout('layouts/boilerplate') %>
<section>
    <div class="container text-left mt-5">
        <h1 class="fw-bold mb-5">Oops! Page Not Found.</h1>
        <p>Status Code: </p> <br>
        <p><%= err.stack %> </p>
        <h3>Helpful Links</h3>
        <ul class="list-group">
            <li class="list-item">
                <a class="" data-toggle="tab" href="/">Home</a>
            </li>
            <li class="list-item">
                <a class="" data-toggle="tab" href="/pages">Builds</a>
            </li>
            <li class="list-item">
                <a class="" data-toggle="tab" href="/pages/new">New</a>
            </li>
        </ul>
    </div>

</section>