<% layout('layouts/boilerplate') %>
<section class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Welcome Back</h1>
                <p>Upload and submit your build to be featured on the site!</p>
                <p>Its easy. Simply fill out the form below to show off that dope a** build</p>
                <p><a href="#new-build-form" class="btn btn-light btn-main">Take me there<i
                    class="fas fa-arrow-down mx-2"></i></a>
        </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row align-items-center mt-5">
        <div class="col-lg-12 d-block">
            <p class="text-right">
                <button class="btn btn-main btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                    <i class="far fa-question-circle"></i>
                </button>
            </p>
            <div class="collapse" id="collapse-1">
                <div class="card card-body">
                    <p class="lead">Help Center</p>
                    <p>We've made it easy enough for you to upload your build.</p>
                    <p>1) Confirm your username by inputing your account username.</p>
                    <p>2) Simply fill in the form below with your build specifications (ex. Case: 'Asus TUF GT501 Full Size ATX') </p>
                    <p>3) Be sure to upload images of your build for other users to check it out - without images, well, that kind of defeats the purpose of showing off!</p>
                    <p class="text-right">Still need help? Email support at <span class="text-muted">support@buildguild.online</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<%= builds.user %>

<section class="container" id="new-build-form">
    <div class="row mx-auto mt-5">
        <form action="/pages" method="POST" class="form-validation" enctype="multipart/form-data" novalidate>
        <div class="col-lg-6 col-md-12">
        <h2>New build submission form</h2>

                <div class="">
                    <label class="form-label mt-2" for="name">Confirm username:</label>
                    <input class="form-control" type="text" id="name" name="pages[user]"
                        placeholder="<%= builds.author %> " required>
                </div>
                <div class="">
                    <label class="form-label mt-2" for="title">Build Name: </label>
                    <input class="form-control" type="text" id="title" name="pages[title]" required>
                    <div class="invalid-feedback">
                        Please submit a build name.
                    </div>
                </div>
                <div class="">
                    <label class="form-label mt-2" for="description">Description:</label>
                    <input class="form-control" type="text" id="description" name="pages[description]" required>
                    <div class="invalid-feedback">
                        Please submit a description of your awesome build.
                    </div>
                </div>
                <p class="mt-2">RGB Lighting:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[rgb]" id="rgb" value="Yes" required>
                    <label class="form-check-label" for="rgb">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[rgb]" id="rgb" value="No" required>
                    <label class="form-check-label" for="rgb">
                        No
                    </label>
                </div>
                <p class="mt-2">Cooling:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[cooling]" id="cooling" value="Air Cooling"
                        required>
                    <label class="form-check-label" for="cooling">
                        Air Cooling
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[cooling]" id="cooling"
                        value="Custom Liquid" required>
                    <label class="form-check-label" for="cooling">
                        Custom Liquid
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[cooling]" id="cooling" value="AIO Cooling">
                    <label class="form-check-label" for="cooling">
                        AIO Cooling
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pages[cooling]" id="cooling"
                        value="Passive Cooling" required>
                    <label class="form-check-label" for="cooling">
                        Passive Cooling
                    </label>
                </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-sm-4">
            <p class="fw-bold">Hardware:</p>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" for="cpu" id="inputGroup-sizing-sm">CPU</span>
                <input type="text" class="form-control" oninput="validate(this)" required name="pages[cpu]" aria-label="cpu"
                    aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Motherboard</span>
                <input type="text" class="form-control" name="pages[motherboard]" aria-label="motherboard"
                    aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Memory</span>
                <input type="text" class="form-control" name="pages[memory]" aria-label="memory"
                    aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Graphics</span>
                <input type="text" class="form-control" name="pages[graphics]" aria-label="graphics"
                    aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">PSU</span>
                <input type="text" class="form-control" name="pages[psu]" aria-label="psu"
                    aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Storage</span>
                <input type="text" class="form-control" name="pages[storage]" aria-label="storage"
                    aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Case</span>
                <input type="text" class="form-control" name="pages[case]" aria-label="case"
                    aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="form-file custom-file form-group">
                <input type="file" class="form-control" id="image" name="image" multiple required>
                <label for="image" class="formfile-label">
                    <span class="form-file-text custom-file-label">Choose Image(s)...</span></label>
                <div class="invalid-feedback mb-2" id="image">
                    Add images to show off your build, otherwise this is all kind of
                    pointless, right?
                </div>
            </div>
        </div>
        <button class="btn btn-dark mt-2">Submit Build</button>
        </form>
    </div>
    </div>
</section>