<% layout('layouts/boilerplate') %>
<section class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>Welcome to Build Guild</h5>
                <p>Show Page</p>
            </div>
        </div>
    </div>
</section>